:root {
    --background: rgb(31, 31, 65);
    --container-Background: hsl(0, 0%, 100%);
    --font-color:var(--background)
}

body {
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1461896836934-ffe607ba8211?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.title,
footer {
  color: var(--container-Background);
  margin-top: 2em;
}

.title {
  font-size: 3em;
  letter-spacing: .5em;
  text-align: center;
  background-color: rgba(105, 61, 35, 0.26);
}

.dial {
  height: 25em;
  width: 25em;
}
  
.timer {
    position: relative;
    display: inline-block;
}

.timer input {
    display: block;
    border: none;
    width: 240px;
    font-size: 5em;
    text-align: center;
    background-color: transparent;
    color:var(--container-Background);
  }

  .timer button {
    border: none;
    font-size: 2em;
    cursor: pointer;
    color: var(--font-color);
    /* background-color: var(--container-Background); */
  }

  
.timer button:focus {
    outline: none;
  }
  
  .timer input:focus {
    outline: none;
  }
  
  .controls {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  footer {
    padding-top: 3em;
  }

  footer .description {
    font-size: 1em;
    color: hsl(0, 0%, 100%);
  }
  
    .footer {
      font-size: 2rem;
      color: black;
      text-align: center;
    }